/**
Hoja de estilo del proyecto
 */
body{
    background-color: #4684e7;
    height: 100vh;
}
.texto-centrado{
    text-align: center;
}
.margen-top-100{
    margin-top:100px;
}

input{
    padding: 15px;
}
.material-symbols-rounded {
    font-size: 45px;
    color: #631b80;
}
.header{
    height: 50px;
}
.color-naranja{
    background-color: #48128a;
}
.color-amarillo{
    color: #4684e7;
}

.caja-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
}

.unbounded{
                font-family: "Unbounded", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }

.correcta{
    color: green;
}
.incorrecta{
    color:red;
}
.correcta,.incorrecta{
    font-size: 50px;
    margin: -100px;
}
.boton{
    border:none;

}
.boton:hover{
    cursor: pointer;
}

/* Estilo cuando para ocultar el boton radio */
input[type="radio"] {
    /* Estilo que deseas aplicar cuando el radio está marcado */
   display: none;
}

